@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --blue-on-top:#3e4e69;
    --white-on-top:#ffffff;
    --font-on-top: #3e4e69;
}
.whyUsContainer{
    width: 100%;
    display: flex;
    font-size: 30px;
    color:var(--blue-on-top);
    flex-direction: row-reverse;
    /* align-items: center; */
    justify-content: space-between;
    gap: 40px;
    box-sizing: border-box;
    background-color:#f3f5fa;
    padding: 60px 50px;
    font-family: 'Noto Sans', sans-serif;
}
.whyusImage img{
    /* width: 50%; */
    height: 450px;
    padding: 40px 0;

}
.whyusContents h3{
    font-size: 34px;
    font-family: 'jost',sans-serif;
    font-weight: 500;
    color: #38527d;
    margin: 20px;
}
.whyusContents span{
    color: #38527d;
    font-weight: 700;
    font-family: 'jost',sans-serif;
}
.whyusContents p{
    font-weight:500;
    font-size: 15px;
    margin: 20px;
    color: #848484;
    color: var(--font-on-top);
    font-family: 'open sans',sans-serif;
    line-height: 2;
}
.accordian{
    font-size: 16px;
    margin: 40px 0;
    padding:0px;
    width: 100%;
}
.accordian li{
    list-style-type: none;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background:white;
    /* box-shadow:0px 2px #3e4e69; */
}
.accordian li label{
    display: flex;
    align-items: center;
    padding: 0px 30px 0px 0px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'poppins',sans-serif;
}
.accordian li:hover label{
    color: #47b2e4;
}
.accordian li .content p{
    /* color: aqua; */
}
label::before{
    content: '+';
    margin-right: 10px;
    font-size: 15px;
    /* font-weight: 600; */
}
label::after{
    /* content: '-'; */
    /* font-size: 24px; */
    /* margin-left: 10px; */
}
input[type="radio"]{
    display: none;
}
.accordian .content{
    color: #47b2e4;
    /* padding: 0 10px; */
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s,padding 0.5s;
}
.accordian input[type="radio"]:checked + label + .content{
    max-height: 400px;
    /* padding: 10px 10px,20px; */
}
@media screen and (max-width: 576px) {
    .whyUsContainer {
      flex-direction: column;
      padding: 40px 20px;
    }
  
    .whyusImage img {
      height: auto;
      width: 100%;
    }
  
    .whyusContents h3 {
      font-size: 28px;
    }
  
    .whyusContents p {
      font-size: 14px;
    }
  }